@model IronDome.Models.Launcher

@{
    bool IsEditMode = Model?.Name != null && Model?.Id > -1;
    string Title = IsEditMode ? "Edit Launcher" : "Create Launcher";
    string FormAction = IsEditMode ? "Edit" : "Create";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            @Title
        </h4>
        <hr />
        <form asp-action="@FormAction">
            <input type="hidden" name="AttackerId" value="@ViewBag.AttackerId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Name -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color: yellow;">
                        <i class="bi bi-rocket-takeoff-fill" style="color: red;"></i>
                    </span>
                </div>
                <input type="text"
                       class="form-control"
                       placeholder="Name"
                       name="Name"
                       value="@Model?.Name">
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <!-- Range -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color: yellow;">
                        <i class="bi bi-arrows-angle-expand"></i>
                    </span>
                </div>
                <input min="1"
                       type="number"
                       class="form-control"
                       placeholder="Range"
                       name="Range"
                       value="@Model?.Range">
            </div>
            <span asp-validation-for="Range" class="text-danger"></span>
            <!-- Velocity -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color: yellow;">
                        <i class="bi bi-speedometer"></i>
                    </span>
                </div>
                <input min="1"
                       type="number"
                       class="form-control"
                       placeholder="Velocity"
                       name="Velocity"
                       value="@Model?.Velocity">
            </div>
            <span asp-validation-for="Velocity" class="text-danger"></span>

            <div class="mb-3">
                <button type="submit" class="btn btn-success w-100">
                    <i class="bi bi-plus"></i> @((IsEditMode) ? "Update Launcher" : "Add Launcher")
                </button>
            </div>
        </form>
        <a asp-action="Index" asp-route-attackerId="@ViewBag.AttackerId" class="btn btn-outline-success">
            <i class="bi bi-arrow-left"></i> Back to List
        </a>
    </div>
</div>
