@model IronDome.Models.Volley

@{
    ViewData["Title"] = "Create";
    var launchers = ViewData["Launchers"] as List<IronDome.Models.Launcher>;
    int attackerId = (int)ViewData["AttackerId"];
}

<h1>Create Volley</h1>

<h4>Volley</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-attackerId="@attackerId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LaunchDate" class="control-label"></label>
                <input asp-for="LaunchDate" class="form-control" />
                <span asp-validation-for="LaunchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Launchers">Select Launchers</label>
                <select asp-for="Launchers" class="form-control" multiple>
                    @foreach (var launcher in launchers)
                    {
                        <option value="@launcher.Id">@launcher.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
