@model IronDome.ViewModels.AttackViewModel

@{
    ViewData["Title"] = "New Attack";
}

<h3>New Attack</h3>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="SelectedAttackType" class="form-label"></label>
                <select asp-for="SelectedAttackType" asp-items="Model.AttackTypes" class="form-control"></select>
                <span asp-validation-for="SelectedAttackType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SelectedAttackSource" class="form-label"></label>
                <select asp-for="SelectedAttackSource" asp-items="Model.AttackSources" class="form-control"></select>
                <span asp-validation-for="SelectedAttackSource" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}